<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/blogStyles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <% if(locals.message) { %>
        <h1 class="message">
            <%= message %>
        </h1>
        <% } %>
            <% if(locals.myBlogs) { %>
                <% locals.myBlogs.forEach(each=> { %>
                    <div class="main-box">
                        <div class="title-box">
                            <h2>
                                <%= each.title %>
                            </h2>
                        </div>
                        <div class="content-box">
                            <h5>
                                <%= each.content %>
                            </h5>
                            <div class="options">
                                <a myBlogId="<%= each._id %>" class="optionButtons" name="VIEW">View</a>
                                <button type="button" myBlogId="<%= each._id %>" class="btn btn-primary optionButtons" data-bs-toggle="modal"
                                    data-bs-target="#exampleModalCenter" name="EDIT" >
                                    Edit
                                </button>
                                <a myBlogId="<%= each._id %>" class="optionButtons" name="DELETE">Delete</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } %>

                           <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Edit the Blog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        <form id="EditBlogs" class="d-flex flex-column">
                                            <input type="text" id="edit-title" placeholder="Enter New Title">
                                            <textarea name="edit Content" id="edit-content"></textarea>
                                        </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="edit-submit-button" >Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script src="/public/js/viewMyBlogs.js"></script>
                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                                crossorigin="anonymous"></script>
</body>

</html>